html {
    background-color: white;
    color: black;
}

header img {
    width: 50px;
}

#hRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hCol1 {
    display: flex;
    flex-direction: column;

}

#hCol3 {
    display: flex;
    flex-direction: column;
}

#hRow3 {
    display: flex;
    flex-direction: row;
}

#hRow4 {
    display: flex;
    flex-direction: row;
}

p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

table
{
    column-count: 2;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.ingredients {
	background-image: url('IMG/list-bg.png');
    background-repeat: no-repeat;
}

h3 {
    font-size: 20px;
}

footer .fRow1 {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    align-content: space-around;
}

footer .fCol1 {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}